In [5]:
!pip install pykakasi
#importing libraries
import os
from pykakasi import kakasi
import pandas as pd

#defining the function to change the word to kana
kks= kakasi()
f_list=os.listdir("files/")
print(f_list)
ls1=[]
ls2=[]
for i in f_list:
    f = open("files/"+i, "r")
    text = f.read()
    result = kks.convert(text)
    for item in result:
        ls1.append(item['orig'])
        ls2.append(item['kana'])

dict = {"word": ls1, "kana": ls2}
df=pd.DataFrame(dict)
print(df.head())
df.describe()

Requirement already satisfied: pykakasi in /home/ravi/.local/lib/python3.8/site-packages (2.2.1)
Requirement already satisfied: jaconv in /home/ravi/.local/lib/python3.8/site-packages (from pykakasi) (0.3)
Requirement already satisfied: deprecated in /home/ravi/.local/lib/python3.8/site-packages (from pykakasi) (1.2.13)
Requirement already satisfied: wrapt<2,>=1.10 in /home/ravi/.local/lib/python3.8/site-packages (from deprecated->pykakasi) (1.13.3)
['2.txt', '1.txt']
  word  kana
0   吾輩  ワガハイ
1    は     ハ
2    猫    ネコ
3  である   デアル
4   \n

       word kana
count   299  299
unique  209  204
top      \n
freq     18   19

In [6]:
#removing the duplicates
df.drop_duplicates(inplace=True)
print(df.head())
df.describe()

  word  kana
0   吾輩  ワガハイ
1    は     ハ
2    猫    ネコ
3  である   デアル
4   \n

       word kana
count   209  209
unique  209  204
top      吾輩  ハジメ
freq      1    2

In [7]:
#removing the unwanted or already registered word
rem_old=['細かい ','細かい', '挿す', '必ず' ,'役所', '既存', 'いつの間にか', '指向', 'エネルギー', '治癒力', '免疫', '欲求', '意思決定', 'カウンセラー', 'テレカンブース', 'オフサイトミーティング', '総延長', '総書記', 'サーキュラーエコノミー', '規格', 'シェアエコノミー'] 
rem_new=['は','が','が,' ,',', '/n', '']
rem_total=rem_old+rem_new
wordlist=list(df["word"])
comm_word=[x for x in rem_total if x in wordlist]
print(comm_word)

df_new=df.set_index("word")
df_new=df_new.drop(comm_word)
df_new.head()

['細かい', '挿す', '必ず', '役所', 'は', 'が']

      kana
word
吾輩    ワガハイ
猫       ネコ
である    デアル
\n
名前     ナマエ

In [8]:
# writing output to the file
df.to_csv('katakana.csv')